[workspace]
resolver = "2"
members = ["crates/cli", "crates/capture", "crates/test-capture"]

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT"

[profile.release]
strip = true
lto = true
panic = "abort"
